



    <body>
        @using(Html.BeginForm("login","Admin",FormMethod.Post))
        {
        <div style="color:white">
            <h2>UserName: </h2>
            <input type="text" name="username" style="color:black"/>
            <br />
            <h2>Password: </h2>
            <input type="password" name="password" style="color:black" />
            <br />
            <br />
            <br />
            <input type="submit" value="Enter" style="background:#262626" />
        </div>
                }
    </body>