
@{
    ViewBag.Title = "comments";
}


    <a href="../id=1">
        <img src="../../Content/button_back.png" style="position: absolute;
width: 30px;
height: 40px;
right: 45px;
top: 90px;
" />
    </a>
<div style="position: absolute;
width: 206px;
height: 48px;
left: 775px;
top: 90px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #FFFFFF;">Comments
        <div style="position: relative;
width: 802px;
height: 348px;
left: -270px;
top: 68px;

background: #E7E3E3;
border-radius: 20px;">
            <div style="position: absolute;
width: 331px;
height: 48px;
left: 113px;
top: 25px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;

color: #000000;
">Commenter name</div>
            <div style="position: absolute;
width: 420px;
height: 39px;
left: 115px;
top:72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 39px;
/* identical to box height */


color: #9A67AC;">Commented on sat. 30 aug.</div>
            <div style="position: absolute;
width: 632px;
height: 88px;
left: 124px;
top: 143px;

background: #DD8A8A;"></div>
            <div style="position: absolute;
width: 636px;
height: 58px;
left: 124px;
top: 255px;

background: #6B5697;
border-radius: 5px;"></div>
            <div style="position:absolute;
width:90px;
height:90px;
top:32px;
left:10px;
border-radius: 50%;
display: inline-block;
background: #E66A6A;"></div>
    </div>
    </div>

